// primary
[data-theme-color="theme-primary"] {
    --primary: #873b0a;
    --primary-bold: #5b2400;
    --primary-btn: #c96a28;
}
// green
[data-theme-color="theme-green"] {
    --primary: #378c4c;
    --primary-bold: #378c4c;
    --primary-btn: #378c4c;
    --shadow: 0px 15px 20px 0px rgba(54, 140, 76, 0.44);
}
// green 02
[data-theme-color="theme-green-2"] {
    --primary: #04d9b2;
    --primary-bold: #04d9b2;
    --primary-btn: #04d9b2;
    --shadow: 0px 15px 20px 0px rgba(4, 215, 176, 0.44);
}
// orange
[data-theme-color="theme-orange"] {
    --primary: #ff9c2e;
    --primary-bold: #ff9c2e;
    --primary-btn: #ff9c2e;
    --shadow: 0px 15px 20px 0px rgba(255, 156, 46, 0.44);
}
// orange  02
[data-theme-color="theme-orange-2"] {
    --primary: #fa6900;
    --primary-bold: #fa6900;
    --primary-btn: #fa6900;
    --shadow: 0px 15px 20px 0px rgba(250, 104, 0, 0.44);
}
// orange  03
[data-theme-color="theme-orange-3"] {
    --primary: #f2949c;
    --primary-bold: #f2949c;
    --primary-btn: #f2949c;
    --shadow: 0px 15px 20px 0px rgba(242, 146, 154, 0.44);
}

// pink
[data-theme-color="theme-pink"] {
    --primary: #fe4365;
    --primary-bold: #fe4365;
    --primary-btn: #fe4365;
    --shadow: 0px 15px 20px 0px rgba(255, 66, 101, 0.44);
}
// orange  04
[data-theme-color="theme-purple"] {
    --primary: #9b72f2;
    --primary-bold: #9b72f2;
    --primary-btn: #9b72f2;
    --shadow: 0px 15px 20px 0px rgba(155, 115, 242, 0.44);
}

// blue
[data-theme-color="theme-blue"] {
    --primary: #69d2e7;
    --primary-bold: #69d2e7;
    --primary-btn: #69d2e7;
    --shadow: 0px 15px 20px 0px rgba(106, 210, 231, 0.44);
}
// blue 02
[data-theme-color="theme-blue-2"] {
    --primary: #a7dbd8;
    --primary-bold: #a7dbd8;
    --primary-btn: #a7dbd8;
    --shadow: 0px 15px 20px 0px rgba(106, 210, 231, 0.44);
}
//blue 03
[data-theme-color="theme-blue-3"] {
    --primary: #4ecdc4;
    --primary-bold: #4ecdc4;
    --primary-btn: #4ecdc4;
    --shadow: 0px 15px 20px 0px rgba(106, 210, 231, 0.44);
}
//blue 03
[data-theme-color="theme-dark"] {
    --primary: #6f91a6;
    --primary-bold: #6f91a6;
    --primary-btn: #6f91a6;
    --shadow: 0px 15px 20px 0px rgba(110, 144, 166, 0.44);
}
